
.programs {
    margin: auto;
    width: 80%;
}

.program {
    font-family: monospace;
    display: block;
}

.program > .name {
    font-size: 8vw;
    font-weight: bold;
}

.program > .status {
    font-size: 3vw;
    font-style: italic;
}

.program > button.opbut {
    font-size: 8vw;
    padding: 0;
    border: none;
    background: none;
}
